/* start of function */
@mixin btn-primary {
    @include transition;
    background-color: $color-primary;
    color: $color-body;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.5s;
}

@mixin btn-hover {
    @include transition;
    background-color: $color-primary-light;
    transition: 0.5s;
}

@mixin transition {
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    header .navbar {
        nav {
            position: fixed;
            top: 0rem;
            left: 0rem;
            height: 100%;
            width: 100%;
            z-index: 10;
            background-color: #f1f5f8;
        }
    }

    header .slider {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: 768px) {
    header .navbar {
        nav {
            position: fixed;
            top: 0rem;
            left: 0rem;
            height: 100%;
            width: 30%;
            max-width: 30rem;
            z-index: 10;
            background-color: #f1f5f8;
        }
    }
}

@keyframes menu {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes from-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes from-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
/* end of function */
/* start of variable */
$color-primary: #e2711d;
$color-primary-light: #ffb627;
$color-grey-1: #102a42;
$color-grey-5: #617d98;
$color-grey-10: #f1f5f8;
$color-body: #ffffff;

$font-family-primary: vazir;
/* end of variable */
/* start of grid */
body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    max-width: 1800px;
    min-width: 320px;
}

/* end of grid */
/* start of flex */
@media screen and (min-width: 1441px) {
    html {
        display: flex;
        justify-content: center;
    }

    body {
        width: 1800px;
    }
}

header .slider {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

footer .center {
    & {
        display: flex;
        flex-direction: column;
    }

    .social-media,
    .copy-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
/* end of flex */
/* start of general */
@font-face {
    font-family: vazir;
    src: url(../Font/name.ttf) format(ttf);
    src: url(../Font/vazir-font-v16.1.0/Vazir.eot) format(eot),
        url(../Font/vazir-font-v16.1.0/Vazir.woff) format(woff),
        url(../Font/vazir-font-v16.1.0/Vazir.woff2) format(woff2);
}

body {
    direction: ltr;
    text-align: left;
    font-family: $font-family-primary;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    // box-sizing: border-box;
    // box-sizing: content-box;
}

body {
    p {
        color: $color-grey-5;
    }

    h5 {
        color: $color-primary;
    }

    button {
        @include btn-primary;
        margin: auto;
    }

    button:hover {
        @include btn-hover;
    }
}

a {
    text-decoration: none;
}

#button {
    @include btn-primary();
    @include transition();
}

#button:hover {
    @include transition;
    background-color: $color-primary-light;
    transition: 0.5s;
}
/* end of general */
/* start of header */
header {
    position: relative;
}

header .navbar {
    & {
        position: absolute;
        top: 2rem;
        left: 2rem;
        padding: 0px;
    }

    .bi-x-lg {
        @include transition();
        font-size: 1.5rem;
        color: #ec8b8b;
        cursor: pointer;
    }

    .bi-x-lg:hover {
        @include transition();
        color: #f32727;
    }

    .list {
        @include transition();
        animation: menu 2s ease infinite;
        font-size: 3rem;
        color: $color-primary;
        background-color: transparent;
        cursor: pointer;
    }
    
    .list:hover {
        @include transition();
        color: $color-primary-light;
    }

    nav {
        @include transition();
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
        transform: translateX(-200%);
    }

    .show {
        @include transition();
        transform: translateX(0%);
    }

    a {
        display: block;
        padding: 0.5rem 1.5rem;
        font-size: 1.25rem;
    }

    a:hover {
        background-color: $color-primary-light;
        border-left: 0.25rem solid $color-primary;
    }

    span {
        color: $color-grey-5;
    }

    .close {
        padding: 1.5rem;
        text-align: end;
    }
}

header .slider {
    .content {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../../Source/Home/Image/header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        text-align: center;
    }

    h1 {
        animation: from-top 2s ease;
        color: $color-primary;
        padding: 1rem;
    }

    h2 {
        animation: from-bottom 2s ease;
        color: $color-body;
        padding: 1rem;
    }

    button {
        animation: from-bottom 2s linear;
        font-size: 1rem;
        outline: 0.125rem solid $color-primary;
        outline-offset: 0.25rem;
        margin: 1rem;
    }

    button:hover {
        outline: 0.125rem solid $color-primary-light;
        outline-offset: 0.25rem;
    }

    .divider {
        height: 0.5rem;
        background: linear-gradient(to left, $color-primary, $color-primary-light, $color-primary);
    }
}
/* end of header */
/* start of main */

/* end of main */
/* start of footer */
footer .center {
    & {
        background-color: $color-grey-1;
        padding: 2rem;
    }

    a {
        color: $color-body;
    }

    .bi {
        padding: 1rem;
        font-size: 1.5rem;
    }

    h6 {
        color: $color-body;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
        margin-bottom: 0px;
    }
}
/* end of footer */
