/* start of function */
@media screen and (min-width: 768px) {
    main .products {
        & {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
/* end of function */ 
/* start of variable */

/* end of variable */
/* start of general */

/* end of general */
/* start of header */
header .slider {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* end of header */
/* start of main */
main .servises {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* end of main */
/* start of footer */

/* end of footer */