/* start of function */
@mixin btn-primary {
    @include transition;
    background-color: $color-primary;
    color: $color-body;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.5s;
}

@mixin btn-hover {
    @include transition;
    background-color: $color-primary-light;
    transition: 0.5s;
}

@mixin transition {
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    header .navbar {
        nav {
            position: fixed;
            top: 0rem;
            left: 0rem;
            height: 100%;
            width: 100%;
            z-index: 10;
            background-color: #f1f5f8;
        }
    }

    header .slider {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.25rem;
        }
    }

    main .about {
        & {
            margin: 3rem 1rem;
        }
    }

    main .products {
        & {
            padding: 1rem 3rem;
        }
    }
}

@media screen and (min-width: 768px) {
    header .navbar {
        nav {
            position: fixed;
            top: 0rem;
            left: 0rem;
            height: 100%;
            width: 30%;
            max-width: 30rem;
            z-index: 10;
            background-color: #f1f5f8;
        }
    }

    main .about {
        & {
            margin: 1rem;
        }
    }

    main .products {
        & {
            padding: 0rem 2rem;
        }

        .product {
            padding: 1rem;
        }

        .info {
            padding: 2rem 0rem;
            min-width: 256px;
            min-height: 512px;
        }

        img {
            min-width: 170px;
            min-height: 340px;
            overflow: hidden;
            object-fit: cover;
        }
    }
}
/* end of function */
/* start of variable */
$color-primary: #e2711d;
$color-primary-light: #ffb627;
$color-grey-1: #102a42;
$color-grey-5: #617d98;
$color-grey-10: #f1f5f8;
$color-body: #ffffff;
/* end of variable */
/* start of general */
body {
    p {
        color: $color-grey-5;
    }

    h5 {
        color: $color-primary;
    }

    button {
        @include btn-primary;
        margin: auto;
    }

    button:hover {
        @include btn-hover;
    }
}
/* end of general */
/* start of header */
header {
    position: relative;
}
header .navbar {
    & {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    
    .bi-x-lg {
        @include transition();
        font-size: 1.5rem;
        color: #ec8b8b;
        cursor: pointer;
    }
    
    .bi-x-lg:hover {
        @include transition();
        color: #f32727;
    }
    
    button {
        font-size: 3rem;
        color: $color-primary;
        background-color: transparent;
    }
    
    nav {
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
        transform: translateX(-200%);
    }

    .show {
        transform: translateX(0%);
    }

    a {
        display: block;
        padding: 0.5rem 1.5rem;
        font-size: 1.25rem;
    }

    a:hover {
        background-color: $color-primary-light;
        border-left: 0.25rem solid $color-primary;
    }
    
    span {
        color: $color-grey-5;
    }

    .close {
        padding: 1.5rem;
        text-align: end
    }
}

header .slider {
    .content {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../../Source/Home/Image/header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        text-align: center;
    }

    h1 {
        color: $color-primary;
        padding: 1rem;
    }

    h2 {
        color: $color-body;
        padding: 1rem;
    }

    button {
        font-size: 1rem;
        outline: 0.125rem solid $color-primary;
        outline-offset: 0.25rem;
        margin: 1rem;
    }

    button:hover {
        outline: 0.125rem solid $color-primary-light;
        outline-offset: 0.25rem;
    }

    .divider {
        height: 0.5rem;
        background: linear-gradient(to left, $color-primary, $color-primary-light, $color-primary);
    }
}
/* end of header */
/* start of main */
main .items {
    & {
        padding: 3rem;
        background-color: $color-grey-10;
    }

    .item {
        @include transition;
        text-align: center;
        height: 280px;
        padding: 0.5rem;
    }

    .item:hover {
        @include transition;
        background-color: $color-body;
        box-shadow: 0px 2px 0px $color-primary;
    }

    .item .bi {
        @include transition;
        display: block;
        font-size: 2rem;
        padding: 0.5rem;
        margin: 0.5rem;
        margin-top: 1rem;
        color: $color-primary;
    }

    .item:hover .bi {
        @include transition;
        transform: translateY(-5px);
    }

    .item h4 {
        padding: 0.5rem;
    }

    .item p {
        padding: 0.5rem;
    }
}

main .about {
    .image {
        overflow: hidden;
        margin: 2rem;
        border: 0.25rem solid $color-primary;
        border-radius: 0.5rem;
        background-color: $color-primary;
    }

    img {
        @include transition;
        width: 100%;
        height: 100%;
    }

    img:hover {
        @include transition;
        border-radius: 0.5rem;
        scale: 1.2;
        opacity: 0.5;
    }

    .content {
        margin: 2rem;
    }
}

main .products {
    & {
        background-color: $color-grey-10;
    }

    .info {
        padding: 2rem 0rem;
    }

    .image {
        padding: 2rem 0rem;
    }

    img {
        border-radius: 0.5rem;
        width: 100%;
    }

    button {
        display: block;
    }
}

main .servises {
    & {
        padding: 3rem 2rem 3rem 2rem;
        text-align: center;
    }

    img {
        width: 100%;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }

    .servise {
        @include transition;
        position: relative;
        margin: 1rem;
        border-radius: 0.5rem;
        background-color: $color-grey-10;
        box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
    }

    .servise:hover {
        @include transition;
        transform: scale(104%);
        box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
    }

    h6 {
        padding: 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }

    p {
        padding: 0.5rem;
        margin-bottom: 0rem;
    }

    .bi {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.75rem;
        color: $color-primary;
        background-color: $color-primary-light;
        padding: 0.5rem 0.7rem 0.1rem 0.7rem;
        border: 0.25rem solid $color-grey-10;
        border-radius: 50%;
    }

    button {
        margin: 0.5rem;
    }
}

main .contact {
    & {
        padding: 3rem;
        background-color: $color-grey-10;
    }

    .info {
        padding: 1rem;
    }

    .massage {
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: $color-body;
    }

    h4 {
        text-align: center;
        padding-top: 0.5rem;
        color: $color-grey-5;
    }

    input {
        padding: 0.5rem;
        border: 1px solid $color-grey-10;
        border-radius: 0.5rem;
        margin: 0.5rem;
        background-color: $color-grey-10;
    }

    textarea {
        padding: 0.5rem;
        border: 1px solid $color-grey-10;
        border-radius: 0.5rem;
        margin: 0.5rem;
        background-color: $color-grey-10;
        resize: none;
    }

    button {
        margin: 1.5rem 0.5rem 0rem 0.5rem;
    }
}
/* end of main */
/* start of footer */
footer .center {
    & {
        background-color: $color-grey-1;
        padding: 2rem;
    }

    a {
        color: $color-body;
    }

    .bi {
        padding: 1rem;
        font-size: 1.5rem;
    }

    h6 {
        color: $color-body;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
        margin-bottom: 0px;
    }
}
/* end of footer */
